network:
  version: 2
  ethernets:
    {{ linux_interface_name }}:
      addresses:
        - {{ netplan_ip_address }}/24
      gateway4: {{ network_gateway }}
      nameservers:
        addresses:
          - {{ dc01_ip_address }}
